.MailContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: 2.5rem;
    width: 100%;
    border-bottom: 2px solid gray;
}
.MailContainer a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: row;
    width: 92%;
}

.SenderInfo {
    display: flex;
    align-items: center;
    width: 35%;
}

.SenderInfo .Name {
    margin-left: 10px;
    font-weight: bold;
}
.MailContent{
    display: flex;
    align-items: center;
    width: 94%;
    white-space:nowrap;
    overflow: hidden;
    
}
.SubjetSpan{
    padding: 0px 7px;
    width:auto;
    font-weight: bold;
}
.ContentSpan{
    width: auto;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    font-size: 13.5px;
    padding: 0px 10px;
    
}

.MailContainer:hover{
    box-shadow: 0px 0px 5px 2px rgb(141, 141, 141);
    cursor: pointer;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: #9da0a4;
    border-radius: 15px;
  }
  .TimeBlock{
    font-size: 1.35px ;
    font-weight: bold;
  }
  .HoverBtns button{
    background-color: inherit;
    border: none;
    margin: 0px 3px;
    padding: 5px;
   
  }
  .HoverBtns button:hover{
    background-color: rgb(181, 181, 181);
    border-radius: 15px;
    
  }
  .MailRead{
    font-weight: normal;
  }