.Container{
  padding: 0px !important;
  /* background-color:rgb(255, 255, 255); */
}
.sidebarrow{
  height: 100%;

}
.mailpagerow{
  height: 100%;
}
.RowCompo{
  /* border: 2px solid red; */
  width: 100vw;
  height: 93.2vh;
  margin:5rem auto;
}