.Container{
  padding: 0px !important;
}
.sidebarrow{
  height: 100%;

}
.mailpagerow{
  height: 100%;
}
.RowCompo{
  width: 100vw;
  height: 92.2vh;
  margin:3.5rem auto;
  position: fixed;
}
.Customization{
  display: none;
}
@media only screen and (max-width: 768px){
  .sidebarrow{
    display: none;
  }
  .mailpagerow{
    width: 100%;
  }
  .Customization{
    display: block;
  }
}